.cookieNotificationContainer
  .cookieTextContainer
    .twemojiReplace
      p 🍪
    p.cookieParagraph= cookie.data.cookie_paragraph
  .cookieConsentOptions
    .cookieConsentButtons
      button.allowCookies.solidButton(
        aria-label='Allow cookies on this site',
        title='Allow cookies'
      )= cookie.data.cookie_accept_button_label
        .acceptExplosionContainer
      button.denyCookies.outlineBubble(
        aria-label='Deny cookies on this site',
        title='Deny cookies'
      )= cookie.data.cookie_deny_label
        .denyExplosionContainer
    a(href='/privacy') View Privacy Policy
