footer 
  .footerHeadingContainer
    h2= footer.data.heading
    a.solidButton.nonNavLink(href='tel:' + contact.data.phone_number)= contact.data.phone_number
  .footerContentContainer
    .footerCols
      .footerLocationCol
        h3 Where we're at:
        span.haEmoji
          p= contact.data.address_line_1
          br 
          p= contact.data.address_line_2
      .footerMenuCol
        h3 Menu
        .footerMenuLinksContainer
          each link in menu.data.links
            a.nakedLink(href=link.link.url)= link.link_label

      .footerSocialCol
        h3 Social
        .footerSocialLinksContainer
          each link in contact.data.social_media
            a.nakedLink(href=link.social_media_link.url)= link.social_media_label
    .footerLowerInfo
      a.nakedLink.credit(
        href='https://nye.design/',
        target='_blank',
        rel='noreferrer'
      ) Website by Nathan Nye
      a.nakedLink.privacyPolicy(href='/privacy-policy') Privacy Policy
      p.copyright= 'Copyright' + ' © ' + year
