doctype html

block variables

html(lang='en')
  head
    //- Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Nails on Main | ' + metaDescription)
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/')
    meta(name='theme-color', content='')
    //- Favicons
    link(rel='favicon', href='/icons/favicon.ico')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='mask-icon', href='./icons/safari-pinned-tab.svg', color='')
    link(rel='apple-touch-icon', sizes='180x180', href='#/icons/')
    //- Twitter Meta
    meta(name='twitter:title', content='Nails on Main | ' + metaTitle)
    meta(name='twitter:card', content='summary_large_image')
    meta(
      name='twitter:description',
      content='Nails on Main | ' + metaDescription
    )
    meta(name='twitter:image', content='')
    //- Facebook Meta
    meta(name='og:type', content='website')
    meta(name='og:title', content='Nails on Main | ' + metaTitle)
    meta(name='og:locale', content='en_US')
    meta(name='og:card', content='')
    meta(name='og:description', content='Nails on Main | ' + metaDescription)
    meta(name='og:image', content='')
    meta(name='og:url', content='https://www.nomclarkston.com')
    link(
      href='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css',
      rel='stylesheet'
    )
    link(href='./main.css', rel='stylesheet')
    title= 'Nails on Main | ' + metaTitle

  body 
    include ./partials/nav
    include ./partials/cookie
    include ./partials/preloader

    if template == 'our-team'
      each section in our_team.data.body
        if section.slice_type == 'team_member' && section.primary.has_information == true
          .teamMemberInfoPopup
            .topCurve
            button.closeInfoPopup 
            .teamMemberContent
              .memojiContainer
              span
                h2= section.primary.name
                h3= section.primary.job_title
              p= section.primary.description
              .teamMemberSocial
                h4 Come check out what I'm up to on social!
                .memberSocialContainer
                  each item in section.items
                    a.social.solidButton(href=item.social_media_link.url)= item.social_media_link_label
          .teamMemberOverlayBacker

    .testimonialDraggerCursor
      .dragArrow.left
      .dragInstructionCircle
      .dragArrow.right

    section.content(data-template=template)
      .scrollWrapper
        block content

        include ./partials/footer

    script(src='main.js', type='module')
    noscript Please turn on JavaScript in your browser to view this site.
