doctype html

block variables

html(lang='en')
  head
    //- Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content=metaDescription)
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/')
    meta(name='theme-color', content='')
    //- Favicons
    link(rel='icon', href='icons/favicon-32x32.png')
    link(rel='manifest', href='site.webmanifest')
    //- Twitter Meta
    meta(
      name='twitter:title',
      content='Beauty By Nails on Main | ' + metaTitle
    )
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:description', content=metaDescription)
    meta(name='twitter:image', content='')
    //- Facebook Meta
    meta(name='og:type', content='website')
    meta(name='og:title', content='Beauty By Nails on Main | ' + metaTitle)
    meta(name='og:locale', content='en_US')
    meta(name='og:card', content='')
    meta(name='og:description', content=metaDescription)
    meta(name='og:image', content='')
    meta(name='og:url', content='https://www.nomclarkston.com')
    link(
      href='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css',
      rel='stylesheet'
    )
    link(href='./main.css', rel='stylesheet')
    title= 'Beauty By Nails on Main | ' + metaTitle

  body
    include ./partials/nav
    include ./partials/cookie
    include ./partials/preloader

    block members

    if (template = 'home')
      .testimonialDraggerCursor
        .dragArrow.left
        .dragInstructionCircle
        .dragArrow.right

    section.content(data-template=template)
      .scrollWrapper
        block content

        include ./partials/footer

    script(src='main.js', type='module')
    noscript Please turn on JavaScript in your browser to view this site.
