extends ../layout.pug

block variables
  - var template = 'home';

block content
  #homeWrapper
    header.homeHeader 
      .headerContentWrapper
        .homeSplitTop
          .textContainer
            h2 Beauty By
            h1 Nails
        .homeSplitBottom
          .bottomSplitLeft
            h1.onText on
            img(
              data-src=home.data.top_image_left.url,
              alt=home.data.top_image_left.alt
            )
          .bottomSplitRight
            .textContainer
              h1 Main
              h3 Est. 2010
            img(
              data-src=home.data.top_image_right.url,
              alt=home.data.top_image_right.alt
            )

      .headerGradientContainer
        .gradient
      .topCurve
    main.homeContent
      each section in home.data.body
        if section.slice_type == 'hours'
          section#schedule
            .scheduleBlurb
              h2= section.primary.heading
              a.solidButton.nonNavLink(
                href='tel:' + contact.data.phone_number,
                title='call' + contact.data.phone_number,
                aria-label='call' + contact.data.phone_number
              )= section.primary.button_text
            #scheduleRows
              each item in section.items
                .scheduleEntry
                  h4= item.schedule_day
                  p
                    if item.store_status === true
                      span= item.opening_time
                      span &#32;–&#32;
                      span= item.closing_time
                    if item.store_status === false
                      span Closed

        if section.slice_type == 'two_images'
          section.imageDuo
            figure
              img(
                data-src=section.primary.left_image.url,
                alt=section.primary.left_image.alt
              )
            figure
              img(
                data-src=section.primary.right_image.url,
                alt=section.primary.right_image.alt
              )
        if section.slice_type == "services_sidescroller"
          section#servicesMarquee
            .servicesLink
              a.solidButton(href='/services')= section.primary.button_text
            //- each item, i in section.items
            span.marqueeRow
              span Massages
              span Manicures
              span Dips
              span Gels
            span.marqueeRow
              span Pedicures
              span Frenches
              span Designs
              span Polish
            span.marqueeRow
              span Fills
              span Lashes
              span Dips
              span Milk-Honey Pedi
              span Acrylics
            span.marqueeRow
              span Gel Polish
              span Acrylic Sets
              span Gels
              span Colors
            span.marqueeRow
              span Nail Art
              span Toes
              span Polish Changes
              span Mani-Pedi
              //- span= item.service_name

        if section.slice_type == "reviews"
          section#testimonials
            .testimonialHeadingContainer
              h2= section.primary.heading
              //- need to generate this link from g-business
              a.solidButton(href='/')= section.primary.button_text

            #testimonialSliderContainer
              #testimonialSlider
                each review, i in section.items
                  .testimonialEntryContainer
                    .testimonialEntryContent
                      .testimonialInitialsContainer
                        p 
                      .testimonialTextContainer
                        h3= review.name_of_reviewer
                        p= review.review_text
                      .testimonialEmoji
                        p.twemojiReplace= review.emoji
                    .mobileReviewIndicatorContainer
                      h4= i + 1
                        | /
                        = section.items.length

        if section.slice_type == "note"
          section#notesAtBottom
            h2= section.primary.heading
            each note in section.items
              .notesEntry
                //- h3= note.note_title
                p= note.note_text
