extends ../layout.pug

block variables
  - var template = 'home';

block content
  #homeWrapper
    header.homeHeader 
      .homeSplitLeft
        .smallTextContainer
          h4 est. 2010
          h2 Beauty By
        .nailsOnText 
          h1 Nails
          h1.onText on
          img(src='./image.jpg')
      .homeSplitRight
        h1 Main
        img(src='./image.jpg')

      .headerGradientContainer

    main.homeContent
      each section in home.data.body
        if section.slice_type == 'hours'
          section#schedule
            .scheduleBlurb
              h2= section.primary.heading
              a.solidButton(href='tel:')= section.primary.button_text
            #scheduleRows
              each item in section.items
                .scheduleEntry
                  h4= item.schedule_day
                  p
                    if item.store_status === true
                      span= item.opening_time
                      span &#32;–&#32;
                      span= item.closing_time
                    if item.store_status === false
                      span Closed

        if section.slice_type == "services_sidescroller"
          section#servicesMarquee
            .servicesLink
              a.solidButton(href='/services')= section.primary.button_text
            each item, i in section.items
              span.marqueeRow
                span= item.service_name

        if section.slice_type == "reviews"
          section#testimonials
            .testimonialDraggerCursor
              .dragArrow.left
              .dragInstructionCircle
              .dragArrow.right
            .testimonialHeadingContainer
              h2= section.primary.heading
              //- need to generate this link from g-business
              a.solidButton(href='/')= section.primary.button_text

            #testimonialSliderContainer
              #testimonialSlider
                each review, i in section.items
                  .testimonialEntryContainer
                    .testimonialEntryContent
                      .testimonialInitialsContainer
                        //- p= review.name_of_reviewer
                      .testimonialTextContainer
                        h3= review.name_of_reviewer
                        p= review.review_text
                      .testimonialEmoji
                        p emoji here
                    .mobileReviewIndicatorContainer
                      h4= i
                        | /
                        = section.items.length

        if section.slice_type == "note"
          section#notesAtBottom
            each note in section.items
              .notesEntry
                h3= note.note_title
                p= note.note_text
