extends ../layout.pug

block variables
  - var template = 'our-team';
  - var metaTitle = our_team.data.meta_title;
  - var metaDescription = our_team.data.meta_description;

block members
  each section in our_team.data.body
    if section.slice_type == 'team_member' && section.primary.has_information == true
      .teamMemberInfoContainer
        .teamMemberInfoPopup
          .topCurve
          button.closeInfoPopup 
          .teamMemberContent
            .memojiContainer
            span
              h2= section.primary.name
              h3= section.primary.job_title
            p= section.primary.description
            .teamMemberSocial
              h4 Come check out what I'm up to on social!
              .memberSocialContainer
                each item in section.items
                  a.social.solidButton(href=item.social_media_link.url)= item.social_media_link_label
        .teamMemberOverlayBacker

block content
  #ourTeamWrapper
    header#teamHeader
      .headingContainer
        span
          h1 Our
          h2 (awesome)
        h1 Team
      .topCurve
    .headerGradientContainer
      .gradient
    .contentContainer
      .contentCurve
      main#teamContent
        section.topBlurb.hasEmoji
          h2= our_team.data.small_blurb
        section.teamMemojis
          each section in our_team.data.body
            if section.slice_type == 'team_member'
              if section.primary.has_information == true
                .teamMemberContainer.hasInfo(
                  title='View ' + section.primary.name + "'s information",
                  aria-label='View ' + section.primary.name + "'s information"
                )
                  video(muted, disableRemotePlayback, playsinline)
                    source(
                      src=section.primary.memoji_hover_video.url,
                      type='video/mp4'
                    )
              else
                .teamMemberContainer
                  video(muted, disableRemotePlayback, playsinline)
                    source(
                      src=section.primary.memoji_hover_video.url,
                      type='video/mp4'
                    )
