extends ../layout.pug

block variables
  - var template = 'our-team';
  - var metaTitle = our_team.data.meta_title;
  - var metaDescription = our_team.data.meta_description;

block content
  #ourTeamWrapper
    header#teamHeader
      .headingContainer
        span
          h1 Our
          h2 (awesome)
        h1 Team
      .topCurve
    .headerGradientContainer
      .gradient
    .contentContainer
      .contentCurve
      main#teamContent
        section.topBlurb.hasEmoji
          h2= our_team.data.small_blurb
        section.teamMemojis
          each section in our_team.data.body
            if section.slice_type == 'team_member'
              if section.primary.has_information == true
                .teamMemberContainer.hasInfo(
                  title='View' + section.primary.name + "'s information",
                  aria-label='View' + section.primary.name + "'s information"
                )
                  //- img(src=section.primary.memoji.url)
                  video(muted)
                    source(src=section.primary.memoji_hover_video.url)
                .teamMemberOverlayBacker
              else
                .teamMemberContainer
                  //- img(src=section.primary.memoji.url)
                  video(muted)
                    source(src=section.primary.memoji_hover_video.url)
                    //- source(src=section.primary.memoji_hover_video.url)
                .teamMemberOverlayBacker
