extends ../layout.pug

block variables
  - var template = 'services';

block content
  #servicesWrapper
    header.servicesHeader
      .headingContainer
        h1 Our
        h1 Services
      .headerGradientContainer
      .topCurve
    main.serviceContent
      section.topBlurb.hasEmoji
        h2 Colors? Designs? Just a good old fashioned mani-pedi? We do it all!
        .emoji

      section#serviceList
        each service, i in s
          .serviceEntry
            button.serviceSmallTop(aria-label='toggle dropdown')
              span.topLine
              .headingWithThumbnailContainer
                img.serviceImageThumbnail(
                  data-src=service.data.images[0].service_image.url,
                  alt=''
                )
                h2= service.data.service_name
              h4= service.data.service_tagline
              .hasArrow.dropdown
            .serviceDetails
              .serviceImages
                //- Make sure this works for mobile, switches to a draggable
                .serviceImageContainer
                  .serviceImagesSliderContainer
                    .serviceImagesSlider
                      each image in service.data.images
                        figure
                          img(
                            data-src=image.service_image.url,
                            alt=image.service_image.alt
                          )
                  .mobileImageIndicator
                    span.currentImageNumber= i
                    span.separator /
                    span.totalImageNumber= service.data.images.length
                  .desktopImageIndicator
                    if service.data.images
                      each image in service.data.images
                        button.indicatorStrip
                          .inner
              .serviceDescriptionContainer
                each detail in service.data.service_details
                  .serviceDescription
                    h3= detail.service_subhead
                    p= detail.service_description
                    .pricesContainer
                      h4.priceEntry.outlineBubble 
                        span starts at $
                        span= detail.starting_price
                      if detail.addition
                        h4.priceEntry.outlineBubble 
                          span= detail.addition
                          span &#32;—&#32;$
                          span= detail.addition_pricing
